#banner {
  border: none;
}

.banner {
  border-bottom: dashed;
  border-width: 2px;
  border-color: rgb(179, 179, 179);
}

.banner .container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 90%;
  z-index: -1;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.banner .container .banner-child {
  width: 100%;
  height: 100%;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.banner-child p {
  color: white;
}

.banner-img {
  width: 100%;
  height: 100%;
  z-index: -100;
}

.banner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#big-text {
  font-size: 3em;
  text-align:center;
  width: 100%;
}

#big #small-under-text {
  font-weight: 400;
  font-size: 1em;
  width: max-content;
}

#big #button {
  border: 2px solid white;
  width: max-content;
  font-weight: 500;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 15px;
}

.banner-child-small .subcat-name {
  font-size: 30px;
}

.banner-child-small .subcat-description {
  font-weight: 400;
  font-size: 15px;
}
