#explore .container {
  gap: 100px;
  flex-direction: column;
}

#explore .warning {
  padding: 20px 0;
  gap: 20px;
}

#explore .warning p {
  font-weight: 500;
}

#explore .col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.intro-content {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  padding-left: 0;
}

.intro-pic img {
  width: 100%;
}

.intro-content .main {
  font-size: 25px;
}

.intro-content .sub {
  font-weight: 500;
  color: rgb(136, 136, 136);
}

.explore-text {
  padding: 20px 0;
  color: rgb(136, 136, 136);
}

.explore-text span {
  color: rgb(72, 114, 203);
}

.explore-text span:hover {
  color: rgb(28, 31, 57);
}
