@media only screen and (min-width: 40em) {
}

header {
  top: 0px;
  background-color: white;
  z-index: 20;
}

.header .container {
  justify-content: space-around;
}

.top-nav {
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header li {
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 4% 0;
  cursor: pointer;
  z-index: 20;
}

.top-nav i {
  padding-left: 5px;
}

.top-nav .logo {
  padding: 5% 0;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgba(236, 236, 236, 0.493);
  border-bottom: 1px dashed rgb(160, 160, 160);
  gap: 3em;
}

.section-list {
  width: 90%;
  display: none;
  background-color: rgba(236, 236, 236, 0.493);
}

.section-list > * {
  border-bottom: 0.5px solid rgba(197, 197, 197, 0.363);
}

.dropdown-btn {
  position: relative;
  z-index: 5;
}

.dropdown {
  display: none;
  flex-direction: column;
}

.dropdown li {
  font-weight: 400;
  font-size: 0.8em;
}

.dropdown li:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(72, 72, 72, 0.422);
  z-index: 20;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out 0s;
}

.mobile-menu-symbol {
  width: 3em;
  height: 3em;
}

#middle-line {
  transition-duration: 0.5s;
  display: inline-block;
  width: 2.5em;
  height: 0.15em;
  background-color: black;
  align-self: center;
  position: relative;
}

#middle-line::before,
#middle-line::after {
  transition-duration: 0.5s;
  content: "";
  position: absolute;
  display: inline-block;
  background-color: black;
  width: 80%;
  height: 100%;
}

#middle-line::before {
  bottom: 0.7em;
}

#middle-line::after {
  top: 0.7em;
}


.active span::before {
  transform: translateY(10px) translateX(6px) rotate(45deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.active span::after {
  transform: translateY(-10px) translateX(6px) rotate(-45deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.active span {
  background-color: transparent !important;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

