#subscribe {
  display: flex;
  flex-direction: column;
  margin: 10% 10% !important;
}

#subscribe #col-1 > * {
  margin: 1em 0;
}

#col-1 h2 {
  font-size: 2em;
}

#col-1 form {
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

#col-1 input {
  border: 1px solid black;
  height: 3rem;
  color: rgb(68, 68, 68);
}

#col-1 input::placeholder {
  font-style: italic;
  font-weight: 500;
  /* padding-left: 1em; */
}

#col-1 input {
  font-style: italic;
  font-weight: 500;
  padding-left: 1em;
}

#col-1 .send {
  height: 3rem;
  background-color: white;
  filter: invert(1);
  transition: 0.3s ease;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

#col-1 .send:hover {
  filter: none;
}

#col-1 .send #col-1 li {
  text-transform: none;
}

#subscribe {
  margin: 0 80px;
}

.small-col-container {
  gap: 2em;
  
}

.small-col {
  flex-direction: column;
  gap: 2em;
}

.small-col .main-text {
  font-weight: 700;
  font-size: 100%;
}

.small-col .sub-text {
  color: rgb(148, 148, 148);
}
