.section .section-title {
  font-size: 34px;
}

.section .section-subtitle {
  color: rgb(148, 148, 148);
  font-size: 15px;
}

.carousel-container {
  justify-content: space-between;
  width: fit-content;
  padding: 0 !important;
  transform: scale(0.8);
}

.carousel-container .owl-nav .owl-prev {
  display: none !important;
}

.carousel-container .owl-nav .owl-next {
  display: none !important;
}

.block-container {
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.carousel-container .title {
  font-size: 25px;
}

.carousel-container ul {
  padding-top: 30px;
  display: inline-block;
}

.carousel-container li {
  display: inline;
}

.icon-popup {
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 5em;
  visibility: hidden;
  transform: translateY(10px);
  z-index: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  transition-duration: 0.4s;
}

.block-container:hover .icon-popup {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  transform: translateY(-90px);
  transition-delay: 0s, 0s, 0.5s;
}

.icon-popup > * {
  background-color: white;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-content {
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.down-content .stars {
  padding: 0 !important;
}

.down-content .price {
  color: grey;
  font-size: 20px;
}
